{% extends 'core/Slide.html' %}
{% load static %}

{% block custom_css %}
  <link href="{% static 'css/gestion_imagen.css' %}" rel="stylesheet" />
  <style>
    .button-imagen-container {
      display: flex;
      gap: 0.3rem;
      justify-content: center;
      margin-top: 0.5rem;
    }
    .button-imagen-container button,
    .button-imagen-container form button {
      padding: 0.3rem 0.6rem;
      font-size: 0.85rem;
      border-radius: 0.4rem;
      height: 2rem;
      line-height: 1.2rem;
      min-width: 70px;
    }
  </style>
{% endblock %}

{% block main_content %}
  <section class="container">
    <div class="flex-column-red">
      <div class="flex-row-content p-1">
        <div class="info-gestion-box">
          <div class="flex-row-dashboard fill-available">
            <div class="flex-column-gap fill-available">
              <h1 class="section-title">Gestión de Imágenes</h1>
              <div class="info-box p-1 fill-available">
                <h2 class="section-subtitle">Instrucciones de uso:</h2>
                <div class="data-box">
                  <ol class="font-light">
                    <li><strong>Archivo adjunto:</strong> Solo sirve para guardar la previa de la imagen.</li>
                    <li><strong>Botón "Subir nueva imagen":</strong> Ese botón sube la imagen al servidor.</li>
                    <li><strong>Copia URL:</strong> Sirve para copiar la dirección de la imagen.</li>
                    <li><strong>Eliminar imagen:</strong> Ese botón es para eliminar la imagen.</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-row-dashboard fill-available">
            <div class="flex-column-gap fill-available">
              <div class="info-box p-1 fill-available">
                <form id="imageForm" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <div style="margin-inline: auto; max-width: 50%; overflow: hidden; max-height: 11rem;">
                    <img id="previewImage" src="#" alt="Vista previa de la imagen" class="img-thumbnail" style="display: none;" />
                  </div>
                  <button type="submit" class="btn-neumorphic green white-bg">Subir nueva imagen</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="flex-row-dashboard fill-available">
          <div class="flex-column-gap fill-available">
            <div class="info-box p-1 fill-available">
              <form method="get" class="mb-3">
                <label for="usuario">Filtrar por usuario:</label>
                <select name="usuario" id="usuario" class="form-select">
                    <option value="{{ request.user.id }}" {% if usuario_filtrado == request.user.id|stringformat:"s" %}selected{% endif %}>
                        {{ request.user.username }}
                    </option>
                    <option value="" {% if not usuario_filtrado %}selected{% endif %}>Todos</option>
                </select>
              </form>
              <h2>
              {% if usuario_filtrado and usuario_filtrado != "" %}
                {% if usuario_filtrado == request.user.id|stringformat:"s" %}
                  Tus imágenes
                {% else %}
                  Imágenes de:
                  {% for usuario in usuarios %}
                    {% if usuario.id|stringformat:"s" == usuario_filtrado %}
                      {{ usuario.username }}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% else %}
                Imágenes de todos
              {% endif %}
            </h2>

              <div class="row flex-container">
                {% for imagen in page_obj %}
                  {% if imagen.archivo_adjunto %}
                    <div class="card h-100">
                      <a href="{{ imagen.archivo_adjunto.url }}">
                        <img src="{{ imagen.archivo_adjunto.url }}" class="card-img-top" alt="Imagen" />
                      </a>
                      <div class="button-imagen-container">
                        <button class="btn-neumorphic blue tea-green-bg" onclick="copiarURL('{{ imagen.archivo_adjunto.url }}')">Copiar URL</button>
                        <form action="{% url 'eliminar_imagen' imagen.id %}" method="post" class="mb-0">
                          {% csrf_token %}
                          <button type="submit" class="btn-neumorphic red tea-green-bg">Eliminar</button>
                        </form>
                      </div>
                      {% if not usuario_filtrado %}
                        <p class="text-center mt-1" style="font-size: 0.9rem; color: #444;">
                          De: {{ imagen.usuario.username }}
                        </p>
                      {% endif %}
                    </div>
                  {% endif %}
                {% empty %}
                  <p>No hay imágenes disponibles.</p>
                {% endfor %}
              </div>

              <nav aria-label="Paginación">
                <ul class="pagination justify-content-center">
                  {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a class="page-link btn-neumorphic green white-bg me-2" href="?{% if usuario_filtrado %}usuario={{ usuario_filtrado }}&{% endif %}page=1">&laquo; Primero</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link btn-neumorphic green white-bg me-2" href="?{% if usuario_filtrado %}usuario={{ usuario_filtrado }}&{% endif %}page={{ page_obj.previous_page_number }}">Anterior</a>
                    </li>
                  {% endif %}

                  <li class="page-item disabled">
                    <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
                  </li>

                  {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link btn-neumorphic green white-bg ms-2" href="?{% if usuario_filtrado %}usuario={{ usuario_filtrado }}&{% endif %}page={{ page_obj.next_page_number }}">Siguiente</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link btn-neumorphic green white-bg ms-2" href="?{% if usuario_filtrado %}usuario={{ usuario_filtrado }}&{% endif %}page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block custom_js %}
  <script src="{% static 'js/gestion_imagen.js' %}"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
        const selectUsuario = document.getElementById("usuario");
        selectUsuario.addEventListener("change", function() {
            const selectedValue = this.value;
            const url = new URL(window.location.href);
            url.searchParams.set("usuario", selectedValue);
            url.searchParams.delete("page");
            window.location.href = url.href;
        });
    });
  </script>
{% endblock %}
